a {
  color: #00B7FF;
}

body{
	font-family: 'Raleway',sans-serif;
}
#background-vid{
	position: absolute;
	bottom: 0;
	right: 0;
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	z-index: -10;
	overflow: hidden;
}
.border_submit{
	width: 339px;
	min-height: 399px;
	margin: 100px auto;
	border: 2px solid #b881fc;
}
.submit_info{
	width: 100%;
	height: 399px;
	position: absolute;
	margin: auto;
}
.heading{
	background-color: #b881fc;
	width: 335px;
	height: 65px;
	opacity: 100;
	color: #fff;
	padding-top: 20px;
	padding-left: 25px;
	margin: 0;
	position: absolute;
	font-weight: 600;
}
.user_info{
	position: absolute;
	top: 95px;
}
.transparent_submit_info{
	background-color: #fff;
	opacity: 0.4;
	top: 65px;
	left: 0;
	width: 335px;
	height: 330px;
	position: absolute;
}
.input_place{
	width: 335px;
	height: 50px;
	padding: 0 30px;
	margin-bottom: 10px;
}
.input_place > .gender{
	padding-top: 10px;
	padding-left: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	height: 46px;
	width: 80px;
	border-radius: 6px;
	font-size: 20px;
	position: absolute;
	color: #a59494;
}
.submit_btn{
	width: 275px;
	height: 50px;
	margin: 0 30px;
	margin-bottom: 20px;
	background-color: #4d5567;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 310px;
	font-weight: 600;
	font-size: 23px;
	border-radius: 4px;
}
#name{
	font-size: 27px;
}
#signup_btn{
	top: 210px;
	left: 115px;
	position: absolute;
}
#messCheckPwd{
	height: 22px;
	font-size: 16px;
	text-align: center;
	color: red;
}
.directSignin{
	text-align: center;
	top: 65px;
    position: relative;
    color: #1a0dab;
}
#login2_btn{
	top: 130px;
	left: 105px;
	position: absolute;
}
#login_btn{
	top: 130px;
	position: absolute;
}
.alert{
	top: 210px;
	position: absolute;
	width: 255px;
	margin-left: 40px;
}